<a href="https://colab.research.google.com/github/natuan310/w3-Data-Analysis-WorldCup-Dataset/blob/master/Tee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

sns.set_style("whitegrid")

In [0]:
wc = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Dataset/fifa-world-cup/WorldCups.csv')
mch = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Dataset/fifa-world-cup/WorldCupMatches.csv')
pls = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Dataset/fifa-world-cup/WorldCupPlayers.csv')

In [0]:
print(wc.info(), mch.info(), pls.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
Year              20 non-null int64
Country           20 non-null object
Winner            20 non-null object
Runners-Up        20 non-null object
Third             20 non-null object
Fourth            20 non-null object
GoalsScored       20 non-null int64
QualifiedTeams    20 non-null int64
MatchesPlayed     20 non-null int64
Attendance        20 non-null object
dtypes: int64(4), object(6)
memory usage: 1.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
Year                    852 non-null float64
Datetime                852 non-null object
Stage                   852 non-null object
Stadium                 852 non-null object
City                    852 non-null object
Home Team Name          852 non-null object
Home Team Goals         852 non-null float64
Away Team Goals         852 non-null float64
Away Team Name          852 non-null object
Win conditions          852 non-null object
Attendance              850 non-null float64
Half-time Home Goals    852 non-null float64
Half-time Away Goals    852 non-null float64
Referee                 852 non-null object
Assistant 1             852 non-null object
Assistant 2             852 non-null object
RoundID                 852 non-null float64
MatchID                 852 non-null float64
Home Team Initials      852 non-null object
Away Team Initials      852 non-null object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37784 entries, 0 to 37783
Data columns (total 9 columns):
RoundID          37784 non-null int64
MatchID          37784 non-null int64
Team Initials    37784 non-null object
Coach Name       37784 non-null object
Line-up          37784 non-null object
Shirt Number     37784 non-null int64
Player Name      37784 non-null object
Position         4143 non-null object
Event            9069 non-null object
dtypes: int64(3), object(6)
memory usage: 2.6+ MB
None None None

In [0]:
wc.sample(1)

   Year Country  Winner  ... QualifiedTeams MatchesPlayed Attendance
8  1970  Mexico  Brazil  ...             16            32  1.603.975

[1 rows x 10 columns]

In [0]:
wc.nunique()

""" Table WorldCup is cleaned
    No duplicate data
"""

Year              20
Country           15
Winner             9
Runners-Up        10
Third             14
Fourth            16
GoalsScored       17
QualifiedTeams     5
MatchesPlayed      9
Attendance        20
dtype: int64

In [0]:
wc.nunique() == wc.shape[0]

In [8]:
wc['Runners-Up'].unique()

array(['Argentina', 'Czechoslovakia', 'Hungary', 'Brazil', 'Sweden',
       'Germany FR', 'Italy', 'Netherlands', 'Germany', 'France'],
      dtype=object)

In [14]:
mch

       Year              Datetime  ... Home Team Initials Away Team Initials
0    1930.0  13 Jul 1930 - 15:00   ...                FRA                MEX
1    1930.0  13 Jul 1930 - 15:00   ...                USA                BEL
2    1930.0  14 Jul 1930 - 12:45   ...                YUG                BRA
3    1930.0  14 Jul 1930 - 14:50   ...                ROU                PER
4    1930.0  15 Jul 1930 - 16:00   ...                ARG                FRA
..      ...                   ...  ...                ...                ...
847  2014.0  05 Jul 2014 - 17:00   ...                NED                CRC
848  2014.0  08 Jul 2014 - 17:00   ...                BRA                GER
849  2014.0  09 Jul 2014 - 17:00   ...                NED                ARG
850  2014.0  12 Jul 2014 - 17:00   ...                BRA                NED
851  2014.0  13 Jul 2014 - 16:00   ...                GER                ARG

[852 rows x 20 columns]

In [0]:
""" Table World Cup Matches:
    852/4572 rows not null
    836 unique Match ID
"""
# mch[mch['Year'].isnull() == 0 ]['MatchID'].nunique()
# mch[mch['Year'].isnull()]

      Year Datetime Stage  ... MatchID Home Team Initials Away Team Initials
852    NaN      NaN   NaN  ...     NaN                NaN                NaN
853    NaN      NaN   NaN  ...     NaN                NaN                NaN
854    NaN      NaN   NaN  ...     NaN                NaN                NaN
855    NaN      NaN   NaN  ...     NaN                NaN                NaN
856    NaN      NaN   NaN  ...     NaN                NaN                NaN
...    ...      ...   ...  ...     ...                ...                ...
4567   NaN      NaN   NaN  ...     NaN                NaN                NaN
4568   NaN      NaN   NaN  ...     NaN                NaN                NaN
4569   NaN      NaN   NaN  ...     NaN                NaN                NaN
4570   NaN      NaN   NaN  ...     NaN                NaN                NaN
4571   NaN      NaN   NaN  ...     NaN                NaN                NaN

[3720 rows x 20 columns]

In [0]:
mch.drop(labels = mch[mch['Year'].isnull()].index, axis= 0, inplace= True)
mch

In [21]:
mch[mch['MatchID'].value_counts() > 1].unique()

IndexingError: ignored

In [0]:
pls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37784 entries, 0 to 37783
Data columns (total 9 columns):
RoundID          37784 non-null int64
MatchID          37784 non-null int64
Team Initials    37784 non-null object
Coach Name       37784 non-null object
Line-up          37784 non-null object
Shirt Number     37784 non-null int64
Player Name      37784 non-null object
Position         4143 non-null object
Event            9069 non-null object
dtypes: int64(3), object(6)
memory usage: 2.6+ MB

In [0]:
pls.sample(10)
""" Table World Cup Players
    0 null rows
"""

        RoundID    MatchID  ... Position           Event
553         201       1084  ...      NaN             NaN
36626    255955  300186474  ...      NaN            I69'
1271       3492       1130  ...      NaN  G21' G69' G80'
12844       279       2202  ...      NaN           OH46'
27097  43950100   43950039  ...      NaN             NaN
15402       294        877  ...      NaN            I64'
13508       293        896  ...      NaN             NaN
13235       280       2247  ...      NaN             NaN
8586        250       1902  ...      NaN        Y1' O66'
21532       337       3078  ...      NaN             NaN

[10 rows x 9 columns]

In [0]:
pls.nunique()

RoundID           101
MatchID           836
Team Initials      82
Coach Name        335
Line-up             2
Shirt Number       24
Player Name      7663
Position            3
Event            1893
dtype: int64

In [0]:
pls[pls.isnull() == 0].count()

RoundID          37784
MatchID          37784
Team Initials    37784
Coach Name       37784
Line-up          37784
Shirt Number     37784
Player Name      37784
Position          4143
Event             9069
dtype: int64

In [0]:
pls[pls['Shirt Number'] == 0]

      RoundID  MatchID Team Initials  ...           Player Name Position  Event
0         201     1096           FRA  ...           Alex THEPOT       GK    NaN
1         201     1096           MEX  ...       Oscar BONFIGLIO       GK    NaN
2         201     1096           FRA  ...      Marcel LANGILLER      NaN   G40'
3         201     1096           MEX  ...          Juan CARRENO      NaN   G70'
4         201     1096           FRA  ...       Ernest LIBERATI      NaN    NaN
...       ...      ...           ...  ...                   ...      ...    ...
3064      209     1190           BRA  ...                   RUY      NaN    NaN
3065      209     1190           URU  ...  Juan Carlos GONZALEZ      NaN    NaN
3066      209     1190           BRA  ...         NILTON SANTOS      NaN    NaN
3067      209     1190           URU  ...         Ernesto VIDAL      NaN    NaN
3068      209     1190           BRA  ...              CASTILHO      NaN    NaN

[3069 rows x 9 columns]