<a href="https://colab.research.google.com/github/natuan310/w3-Data-Analysis-WorldCup-Dataset/blob/master/Tee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

sns.set_style("whitegrid")

In [0]:
# working on GG Drive csv data
wc = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Dataset/fifa-world-cup/WorldCups.csv')
mch = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Dataset/fifa-world-cup/WorldCupMatches.csv')
pls = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Dataset/fifa-world-cup/WorldCupPlayers.csv')

In [0]:
# working on local csv data
wc = pd.read_csv('/media/tee/Data/Coder School/_tonga/week3/w3-Data-Analysis-WorldCup-Dataset/Data/WorldCups.csv')
mch = pd.read_csv('/media/tee/Data/Coder School/_tonga/week3/w3-Data-Analysis-WorldCup-Dataset/Data/WorldCupMatches.csv')
pls = pd.read_csv('/media/tee/Data/Coder School/_tonga/week3/w3-Data-Analysis-WorldCup-Dataset/Data/WorldCupPlayers.csv')

---
# Week 3 Project - Data Analysis - World Cup Dataset

---
I. Project Infomation

    - Data about FIFA World Cup from 1930 to 2014.
    - Dataset has infomation about the league, matches and players.
    - This project is about using the data to show a picture about the FIFA World Cup for every football fan all around the world.

---
II. Data Infomation
    
    - Data sets include 3 tables

---
<div>
<p style="text-align: center;"><strong>
1 - Worldcups: Infomation about each FIFA World Cup.
</strong></p> 

| Column Name    | Description                        | Data Type |
| -------------- | ---------------------------------- | --------- |
| Year           | Year of the worldcup               | int64     |
| Country        | Country of the worldcup            | object    |
| Winner         | Team who won the worldcup          | object    |
| Runners-Up     | Team who was the second place      | object    |
| Third          | Team who was the third place       | object    |
| Fourth         | Team who was the fourth place      | object    |
| GoalsScored    | Total goals scored in the worldcup | int64     |
| QualifiedTeams | Total participating teams          | int64     |
| MatchesPlayed  | Total matches played in the cup    | int64     |
| Attendance     | Total attendance of the worldcup   | object    |

</div>

In [12]:
wc.sample(1)

    Year Country     Winner  ... QualifiedTeams MatchesPlayed Attendance
12  1986  Mexico  Argentina  ...             24            52  2.394.031

[1 rows x 10 columns]

---
<div>
<p style="text-align: center;"><strong>
2 - Matches: Infomation about world cup matches.
</strong></p> 


| Column Name          | Description                                                             | Data Type |
| -------------------- | ----------------------------------------------------------------------- | --------- |
| Year                 | The year in which the match was played                                  | float64   |
| Datetime             | The Date on which the match was played along with a 24 hour format time | object    |
| Stage                | The stage at which the match was played                                 | object    |
| Stadium              | Stadium name where the match was held                                   | object    |
| City                 | The city name, where the match was played                               | object    |
| Home Team Name       | Home team country name                                                  | object    |
| Home Team Goals      | Total goals scored by the home team by the end of the match             | float64   |
| Away Team Goals      | Total goals scored by the away team by the end of the match             | float64   |
| Away Team Name       | Away team country name                                                  | object    |
| Win conditions       | Special win condition (if any)                                          | object    |
| Attendance           | Total crowd present at the satdium                                      | float64   |
| Half-time Home Goals | Goals scored by the home team until half time                           | float64   |
| Half-time Away Goals | Goals scored by the away team until half time                           | float64   |
| Referee              | Name of the first refree                                                | object    |
| Assistant 1          | Name of the first assistant referee (linesman)                          | object    |
| Assistant 2          | Name of the second assistant referee (linesman)                         | object    |
| RoundID              | Unique ID of the Round                                                  | float64   |
| MatchID              | Unique ID of the match                                                  | float64   |
| Home Team Initials   | Home team country's three letter initials                               | object    |
| Away Team Initials   | Away team country's three letter initials                               | object    |


</div>

In [33]:
mch.sample(5)

       Year              Datetime  ... Home Team Initials Away Team Initials
739  2010.0  21 Jun 2010 - 20:30   ...                ESP                HON
653  2006.0  12 Jun 2006 - 18:00   ...                USA                CZE
514  1994.0  16 Jul 1994 - 12:30   ...                SWE                BUL
154  1962.0  06 Jun 1962 - 15:00   ...                HUN                ARG
825  2014.0  04 Jul 2014 - 13:00   ...                FRA                GER

[5 rows x 20 columns]

---
<div>
<p style="text-align: center;"><strong>
3 - Players: Infomation about football players participated.
</strong></p> 


| Column Name   | Description                                                                                                                                         | Data Type |
| ------------- | --------------------------------------------------------------------------------------------------------------------------------------------------- | --------- |
| RoundID       | Unique ID of the round                                                                                                                              | int64     |
| MatchID       | Unique ID of the match                                                                                                                              | int64     |
| Team Initials | Player's team initials                                                                                                                              | object    |
| Coach Name    | Name and country of the team coach                                                                                                                  | object    |
| Line-up       | S=Line-up, N=Substitute                                                                                                                             | object    |
| Shirt Number  | Shirt number if available                                                                                                                           | int64     |
| Player Name   | Name of the player                                                                                                                                  | object    |
| Position      | C=Captain, GK=Goalkeeper                                                                                                                            | object    |
| Event         | G=Goal, OG=Own Goal, Y=Yellow Card, R=Red Card, SY = Red Card by second yellow, P=Penalty, MP=Missed Penalty, I = Substitution In, O=Substitute Out | object    |

</div>

In [22]:
pls.sample(5)

        RoundID   MatchID Team Initials  ...       Player Name Position     Event
2397        208      1188           BRA  ...     NILTON SANTOS    Other  No Event
26524  43950100  43950029           JPN  ...            SUZUKI    Other      O72'
17780      3469       388           BEL  ...     Leo CLIJSTERS    Other  No Event
14340       293       959           NIR  ...  Noel BROTHERSTON    Other      I66'
10291       262      1952           ARG  ...      Francisco SA    Other  No Event

[5 rows x 9 columns]

<div>
<p style="text-align: center;"><strong>
Players: Infomation about football players competed in 1930-2014
</strong></p> 


| Column Name   | Description                                                                                                                                         | Data Type |
| ------------- | --------------------------------------------------------------------------------------------------------------------------------------------------- | --------- |
| RoundID       | Unique ID of the round                                                                                                                              | int64     |
| MatchID       | Unique ID of the match                                                                                                                              | int64     |
| Team Initials | Player's team initials                                                                                                                              | object    |
| Coach Name    | Name and country of the team coach                                                                                                                  | object    |
| Line-up       | S=Line-up, N=Substitute                                                                                                                             | object    |
| Shirt Number  | Shirt number if available                                                                                                                           | int64     |
| Player Name   | Name of the player                                                                                                                                  | object    |
| Position      | C=Captain, GK=Goalkeeper                                                                                                                            | object    |
| Event         | G=Goal, OG=Own Goal, Y=Yellow Card, R=Red Card, SY = Red Card by second yellow, P=Penalty, MP=Missed Penalty, I = Substitution In, O=Substitute Out | object    |

</div>

---
III. Data Cleaning

---
1 - Clean null, duplicate data, error data.

In [0]:
""" Table WorldCup is cleaned
    No duplicate data
"""
wc.nunique()

Year              20
Country           15
Winner             9
Runners-Up        10
Third             14
Fourth            16
GoalsScored       17
QualifiedTeams     5
MatchesPlayed      9
Attendance        20
dtype: int64

In [0]:
""" Table World Cup Matches:
    852/4572 rows not null
    836 unique Match ID
"""
mch.drop(labels = mch[mch['Year'].isnull()].index, axis= 0, inplace= True)
mch

In [0]:
dup_mch = mch['MatchID'].value_counts()
dup_id = dup_mch[dup_mch == 2]
mch[mch['MatchID'].isin(dup_id.index)]['Year']  #  The duplicate datas are matches in 2014

In [16]:
mch.drop_duplicates(keep="first", inplace=True)
mch.info()  # table Matches have 836 cleaned data rows

<class 'pandas.core.frame.DataFrame'>
Int64Index: 837 entries, 0 to 852
Data columns (total 20 columns):
Year                    836 non-null float64
Datetime                836 non-null object
Stage                   836 non-null object
Stadium                 836 non-null object
City                    836 non-null object
Home Team Name          836 non-null object
Home Team Goals         836 non-null float64
Away Team Goals         836 non-null float64
Away Team Name          836 non-null object
Win conditions          836 non-null object
Attendance              835 non-null float64
Half-time Home Goals    836 non-null float64
Half-time Away Goals    836 non-null float64
Referee                 836 non-null object
Assistant 1             836 non-null object
Assistant 2             836 non-null object
RoundID                 836 non-null float64
MatchID                 836 non-null float64
Home Team Initials      836 non-null object
Away Team Initials      836 non-null object
dtypes: float64(8), object(12)
memory usage: 137.3+ KB

In [0]:
pls.info() # pls table has 37848 clean rows

In [5]:
pls.drop_duplicates(keep="first", inplace=True)
pls.info() # pls table has 37048 clean rows

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37048 entries, 0 to 37047
Data columns (total 9 columns):
RoundID          37048 non-null int64
MatchID          37048 non-null int64
Team Initials    37048 non-null object
Coach Name       37048 non-null object
Line-up          37048 non-null object
Shirt Number     37048 non-null int64
Player Name      37048 non-null object
Position         4018 non-null object
Event            8823 non-null object
dtypes: int64(3), object(6)
memory usage: 2.8+ MB

In [0]:
pls['Position'].isnull().sum() # Position column has 33030 null rows
pls['Position'].fillna('Other', inplace=True)

In [0]:
pls['Event'].isnull().sum() # Position column has 28225 null rows
pls['Event'].fillna('No Event', inplace=True)

In [34]:
mch['Stadium'].unique()
""" Some Brazil Stadium name got error.
    'Maracan� - Est�dio Jornalista M�rio Filho', 'Estadio Jos� Mar�a Minella', 'Stade V�lodrome',
    'Nou Camp - Estadio Le�n', 'Estadio Ol�mpico Chateau Carreras', 'Estadio Ol�mpico Universitario', 'Estadio Municipal de Bala�dos'
"""
wrong_name = ['Maracan� - Est�dio Jornalista M�rio Filho', 'Estadio Jos� Mar�a Minella', 'Stade V�lodrome',
              'Nou Camp - Estadio Le�n', 'Estadio Ol�mpico Chateau Carreras', 'Estadio Ol�mpico Universitario', 'Estadio Municipal de Bala�dos']
right_name = ['Maracana - Estadio Jornalista Mario Filho', 'Estadio Jose Maria Minella', 'Stade Velodrome',
              'Nou Camp - Estadio Leon', 'Estadio Olimpico Chateau Carreras', 'Estadio Olimpico Universitario', 'Estadio Municipal de Balaidos']
for w, r in zip(wrong_name, right_name):
    mch['Stadium'].replace(w, r, inplace= True)
mch['Stadium'].unique()

array(['Pocitos', 'Parque Central', 'Estadio Centenario',
       'Stadio Benito Mussolini', 'Giorgio Ascarelli', 'San Siro',
       'Littorale', 'Giovanni Berta', 'Luigi Ferraris', 'Nazionale PNF',
       'Littorio', 'Parc des Princes', 'Velodrome Municipale',
       'Stade Olympique', 'Stade Municipal', 'Stade Velodrome',
       'Stade de la Meinau', 'Cavee Verte', 'Stade du Parc Lescure',
       'Victor Boucquey', 'Fort Carree',
       'Maracana - Estadio Jornalista Mario Filho', 'Durival de Brito',
       'Pacaembu', 'Independencia', 'Eucaliptos', 'Ilha do Retiro',
       'Wankdorf Stadium', 'Hardturm', 'Charmilles', 'La Pontaise',
       'St. Jakob', 'Comunale di Cornaredo', 'Rasunda Stadium',
       'Nya Ullevi', 'Malmo Stadion', 'Jarnvallen', 'Idrottsparken',
       'Arosvallen', 'Rimnersvallen', 'Orjans Vall', 'Ryavallen',
       'Olympia Stadium', 'Tunavallen', 'Eyravallen', 'Carlos Dittborn',
       'Estadio Sausalito', 'Estadio El Teniente-Codelco', 'Nacional',
       'Wembley Stadium', 'Hillsborough', 'Goodison Park',
       'Ayresome Park', 'Old Trafford Stadium', 'Villa Park',
       'Roker Park Ground', 'White City', 'Estadio Azteca', 'Cuauhtemoc',
       'Nou Camp - Estadio Leon', 'Jalisco', 'Luis Dosal', 'Waldstadion',
       'Olympiastadion', 'Volksparkstadion', 'Westfalenstadion',
       'Niedersachsenstadion', 'Rheinstadion', 'Neckarstadion',
       'Parkstadion',
       'El Monumental - Estadio Monumental Antonio Vespuci',
       'Estadio Jose Maria Minella',
       'Arroyito - Estadio Dr. Lisandro de la Torre', 'Jose Amalfitani',
       'Estadio Olimpico Chateau Carreras', 'San Martin', 'Camp Nou',
       'Estadio Municipal de Balaidos', 'Ramon Sanchez Pizjuan', 'Riazor',
       'Nuevo Estadio', 'La Rosaleda', 'El Molinon', 'San Mames',
       'Luis Casanova', 'Carlos Tartiere', 'Jose Zorrilla', 'La Romareda',
       'Jose Rico Perez', 'Benito Villamarin', 'Vicente Calderon',
       'Sarria', 'Santiago Bernabeu', 'Estadio Irapuato',
       'Estadio Olimpico Universitario', 'Estadio Universitario',
       'Tres de Marzo', 'Tecnologico', 'Bombonera - Estadio Nemesio Diez',
       'Neza', 'Estadio Corregidora', 'Giuseppe Meazza',
       'Stadio San Nicola', 'Renato Dall Ara', 'Stadio Olimpico',
       'Comunale', 'Stadio delle Alpi', 'Sant Elia',
       'Marc Antonio Bentegodi', 'Della Favorita', 'Dacia Arena',
       'San Paolo', 'Friuli', 'Cotton Bowl', 'Soldier Field',
       'Pontiac Silverdome', 'Giants Stadium', 'Rose Bowl', 'Citrus Bowl',
       'RFK Stadium', 'Stanford Stadium', 'Foxboro Stadium',
       'Stade de France', 'La Mosson', 'Stade Felix Bollaert',
       'La Beaujoire', 'Stade de Gerland', 'Stade Geoffroy Guichard',
       'Seoul World Cup Stadium', 'Munsu Football Stadium',
       'Niigata Stadium Big Swan', 'Sapporo Dome', 'Kashima Stadium',
       'Busan Asiad Main Stadium', 'Saitama Stadium 2002',
       'Gwangju World Cup Stadium', 'Kobe Wing Stadium',
       'Suwon World Cup Stadium', 'Daegu World Cup Stadium',
       'Jeonju World Cup Stadium', 'Jeju World Cup Stadium',
       'Incheon Football Stadium', 'International Stadium Yokohama',
       'Miyagi Stadium', 'Oita Stadium Big Eye', 'Shizuoka Stadium Ecopa',
       'Osaka Nagai Stadium', 'Daejeon World Cup Stadium',
       'FIFA World Cup Stadium, Munich',
       'FIFA World Cup Stadium, Gelsenkirchen',
       'FIFA World Cup Stadium, Frankfurt',
       'FIFA World Cup Stadium, Dortmund',
       'FIFA World Cup Stadium, Hamburg', 'Zentralstadion',
       'Franken-Stadion', 'FIFA World Cup Stadium, Cologne',
       'Fritz-Walter-Stadion', 'FIFA World Cup Stadium, Hanover',
       'Gottlieb-Daimler-Stadion', 'Soccer City Stadium',
       'Cape Town Stadium', 'Port Elizabeth Stadium',
       'Ellis Park Stadium', 'Royal Bafokeng Sports Palace',
       'Peter Mokaba Stadium', 'Loftus Versfeld Stadium',
       'Durban Stadium', 'Free State Stadium', 'Mbombela Stadium',
       'Arena de Sao Paulo', 'Estadio das Dunas', 'Arena Fonte Nova',
       'Arena Pantanal', 'Estadio Mineirao', 'Estadio Castelao',
       'Arena Amazonia', 'Arena Pernambuco', 'Estadio Nacional',
       'Estadio Beira-Rio', 'Estadio do Maracana', 'Arena da Baixada',
       nan], dtype=object)

---
2 - Combine data, drop unnessary col.