<a href="https://colab.research.google.com/github/natuan310/w3-Data-Analysis-WorldCup-Dataset/blob/master/Tee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

sns.set_style("whitegrid")

In [0]:
# working on GG Drive csv data
wc = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Dataset/fifa-world-cup/WorldCups.csv')
mch = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Dataset/fifa-world-cup/WorldCupMatches.csv')
pls = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Dataset/fifa-world-cup/WorldCupPlayers.csv')

In [121]:
# working on local csv data
wc = pd.read_csv('/media/tee/Data/Coder School/_tonga/week3/w3-Data-Analysis-WorldCup-Dataset/Data/WorldCups.csv')
mch = pd.read_csv('/media/tee/Data/Coder School/_tonga/week3/w3-Data-Analysis-WorldCup-Dataset/Data/WorldCupMatches.csv')
pls = pd.read_csv('/media/tee/Data/Coder School/_tonga/week3/w3-Data-Analysis-WorldCup-Dataset/Data/WorldCupPlayers.csv')

In [58]:
wc.sample(1)

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000

In [54]:
mch.sample(1)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
418,1990,10 Jun 1990 - 21:00,Group D,Giuseppe Meazza,Milan,Germany FR,4,1,Yugoslavia,,74765.0,2,0,MIKKELSEN Peter (DEN),MANDI Jassim (BHR),LISTKIEWICZ Michal (POL),322,201,FRG,YUG

In [153]:
pls.sample(1)

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
29095,97410100,97410020,SWE,Lars LAGERB�CK (SWE),S,4,LUCIC,NaN,Y48'

In [155]:
""" Table WorldCup is cleaned
    No duplicate data
"""
wc.nunique()

Year              20
Country           15
Winner             9
Runners-Up        10
Third             14
Fourth            16
GoalsScored       17
QualifiedTeams     5
MatchesPlayed      9
Attendance        20
dtype: int64

In [17]:
""" Table World Cup Matches:
    852/4572 rows not null
    836 unique Match ID
"""
# mch[mch['Year'].isnull() == 0 ]['MatchID'].nunique()
# mch[mch['Year'].isnull()]

' Table World Cup Matches:\n    852/4572 rows not null\n    836 unique Match ID\n'

In [0]:
mch.drop(labels = mch[mch['Year'].isnull()].index, axis= 0, inplace= True)
mch

In [147]:
dup_mch = mch['MatchID'].value_counts()
dup_id = dup_mch[dup_mch == 2]
mch[mch['MatchID'].isin(dup_id.index)]['Year']  #  2014
mch[mch['MatchID'].isin(dup_id.index)].sort_values('MatchID')
# mch.drop(labels = mch[mch['MatchID'].isin(dup_id.index)].index, axis = 0, inplace = True)

Empty DataFrame
Columns: [Year, Datetime, Stage, Stadium, City, Home Team Name, Home Team Goals, Away Team Goals, Away Team Name, Win conditions, Attendance, Half-time Home Goals, Half-time Away Goals, Referee, Assistant 1, Assistant 2, RoundID, MatchID, Home Team Initials, Away Team Initials]
Index: []

In [133]:
mch.drop_duplicates(keep="first", inplace=True)
mch.info()  # table Matches have 836 cleaned data rows

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836 entries, 0 to 835
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  836 non-null    int64
 1   Datetime              836 non-null    object
 2   Stage                 836 non-null    object
 3   Stadium               836 non-null    object
 4   City                  836 non-null    object
 5   Home Team Name        836 non-null    object
 6   Home Team Goals       836 non-null    int64
 7   Away Team Goals       836 non-null    int64
 8   Away Team Name        836 non-null    object
 9   Win conditions        836 non-null    object
 10  Attendance            835 non-null    float64
 11  Half-time Home Goals  836 non-null    int64
 12  Half-time Away Goals  836 non-null    int64
 13  Referee               836 non-null    object
 14  Assistant 1           836 non-null    object
 15  Assistant 2           836 non-null    object
 16  RoundID               836 non-null    int64
 17  MatchID               836 non-null    int64
 18  Home Team Initials    836 non-null    object
 19  Away Team Initials    836 non-null    object
dtypes: float64(1), int64(7), object(12)
memory usage: 137.2+ KB

In [148]:
pls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37784 entries, 0 to 37783
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RoundID        37784 non-null  int64
 1   MatchID        37784 non-null  int64
 2   Team Initials  37784 non-null  object
 3   Coach Name     37784 non-null  object
 4   Line-up        37784 non-null  object
 5   Shirt Number   37784 non-null  int64
 6   Player Name    37784 non-null  object
 7   Position       4143 non-null   object
 8   Event          9069 non-null   object
dtypes: int64(3), object(6)
memory usage: 2.6+ MB

In [151]:
pls.drop_duplicates(keep="first", inplace=True)
pls.info() # pls table has 37048 clean rows

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37048 entries, 0 to 37047
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RoundID        37048 non-null  int64
 1   MatchID        37048 non-null  int64
 2   Team Initials  37048 non-null  object
 3   Coach Name     37048 non-null  object
 4   Line-up        37048 non-null  object
 5   Shirt Number   37048 non-null  int64
 6   Player Name    37048 non-null  object
 7   Position       4018 non-null   object
 8   Event          8823 non-null   object
dtypes: int64(3), object(6)
memory usage: 2.8+ MB

In [160]:
wc['Winner'].value_counts()

Brazil        5
Italy         4
Germany FR    3
Argentina     2
Uruguay       2
England       1
France        1
Germany       1
Spain         1
Name: Winner, dtype: int64