<a href="https://colab.research.google.com/github/natuan310/w3-Data-Analysis-WorldCup-Dataset/blob/master/Tee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

sns.set_style("whitegrid")

In [0]:
# working on GG Drive csv data
wc = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Dataset/fifa-world-cup/WorldCups.csv')
mch = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Dataset/fifa-world-cup/WorldCupMatches.csv')
pls = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Dataset/fifa-world-cup/WorldCupPlayers.csv')

In [2]:
# working on local csv data
wc = pd.read_csv('/media/tee/Data/Coder School/_tonga/week3/w3-Data-Analysis-WorldCup-Dataset/Data/WorldCups.csv')
mch = pd.read_csv('/media/tee/Data/Coder School/_tonga/week3/w3-Data-Analysis-WorldCup-Dataset/Data/WorldCupMatches.csv')
pls = pd.read_csv('/media/tee/Data/Coder School/_tonga/week3/w3-Data-Analysis-WorldCup-Dataset/Data/WorldCupPlayers.csv')

In [58]:
wc.sample(1)

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000

In [54]:
mch.sample(1)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
418,1990,10 Jun 1990 - 21:00,Group D,Giuseppe Meazza,Milan,Germany FR,4,1,Yugoslavia,,74765.0,2,0,MIKKELSEN Peter (DEN),MANDI Jassim (BHR),LISTKIEWICZ Michal (POL),322,201,FRG,YUG

In [61]:
pls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37784 entries, 0 to 37783
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RoundID        37784 non-null  int64
 1   MatchID        37784 non-null  int64
 2   Team Initials  37784 non-null  object
 3   Coach Name     37784 non-null  object
 4   Line-up        37784 non-null  object
 5   Shirt Number   37784 non-null  int64
 6   Player Name    37784 non-null  object
 7   Position       4143 non-null   object
 8   Event          9069 non-null   object
dtypes: int64(3), object(6)
memory usage: 2.6+ MB

In [11]:
""" Table WorldCup is cleaned
    No duplicate data
"""
wc.nunique()

Year              20
Country           15
Winner             9
Runners-Up        10
Third             14
Fourth            16
GoalsScored       17
QualifiedTeams     5
MatchesPlayed      9
Attendance        20
dtype: int64

In [12]:
wc.nunique() == wc.shape[0]

Year               True
Country           False
Winner            False
Runners-Up        False
Third             False
Fourth            False
GoalsScored       False
QualifiedTeams    False
MatchesPlayed     False
Attendance         True
dtype: bool

In [60]:
mch.sample(1)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
724,2010,16 Jun 2010 - 20:30,Group A,Loftus Versfeld Stadium,Tshwane/Pretoria,South Africa,0,3,Uruguay,,42658.0,0,1,BUSACCA Massimo (SUI),ARNET Matthias (SUI),BURAGINA Francesco (SUI),249722,300061452,RSA,URU

In [17]:
""" Table World Cup Matches:
    852/4572 rows not null
    836 unique Match ID
"""
# mch[mch['Year'].isnull() == 0 ]['MatchID'].nunique()
# mch[mch['Year'].isnull()]

' Table World Cup Matches:\n    852/4572 rows not null\n    836 unique Match ID\n'

In [0]:
mch.drop(labels = mch[mch['Year'].isnull()].index, axis= 0, inplace= True)
mch

In [52]:
mch['MatchID'].value_counts()

300186503    2
300186487    2
300186460    2
300186459    2
300186508    2
            ..
1230         1
1228         1
1225         1
1222         1
533          1
Name: MatchID, Length: 836, dtype: int64

In [21]:
pls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37784 entries, 0 to 37783
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RoundID        37784 non-null  int64
 1   MatchID        37784 non-null  int64
 2   Team Initials  37784 non-null  object
 3   Coach Name     37784 non-null  object
 4   Line-up        37784 non-null  object
 5   Shirt Number   37784 non-null  int64
 6   Player Name    37784 non-null  object
 7   Position       4143 non-null   object
 8   Event          9069 non-null   object
dtypes: int64(3), object(6)
memory usage: 2.6+ MB

In [0]:
pls.sample(10)
""" Table World Cup Players
    0 null rows
"""

        RoundID    MatchID  ... Position           Event
553         201       1084  ...      NaN             NaN
36626    255955  300186474  ...      NaN            I69'
1271       3492       1130  ...      NaN  G21' G69' G80'
12844       279       2202  ...      NaN           OH46'
27097  43950100   43950039  ...      NaN             NaN
15402       294        877  ...      NaN            I64'
13508       293        896  ...      NaN             NaN
13235       280       2247  ...      NaN             NaN
8586        250       1902  ...      NaN        Y1' O66'
21532       337       3078  ...      NaN             NaN

[10 rows x 9 columns]

In [0]:
pls.nunique()

RoundID           101
MatchID           836
Team Initials      82
Coach Name        335
Line-up             2
Shirt Number       24
Player Name      7663
Position            3
Event            1893
dtype: int64

In [0]:
pls[pls.isnull() == 0].count()

RoundID          37784
MatchID          37784
Team Initials    37784
Coach Name       37784
Line-up          37784
Shirt Number     37784
Player Name      37784
Position          4143
Event             9069
dtype: int64

In [0]:
pls[pls['Shirt Number'] == 0]

      RoundID  MatchID Team Initials  ...           Player Name Position  Event
0         201     1096           FRA  ...           Alex THEPOT       GK    NaN
1         201     1096           MEX  ...       Oscar BONFIGLIO       GK    NaN
2         201     1096           FRA  ...      Marcel LANGILLER      NaN   G40'
3         201     1096           MEX  ...          Juan CARRENO      NaN   G70'
4         201     1096           FRA  ...       Ernest LIBERATI      NaN    NaN
...       ...      ...           ...  ...                   ...      ...    ...
3064      209     1190           BRA  ...                   RUY      NaN    NaN
3065      209     1190           URU  ...  Juan Carlos GONZALEZ      NaN    NaN
3066      209     1190           BRA  ...         NILTON SANTOS      NaN    NaN
3067      209     1190           URU  ...         Ernesto VIDAL      NaN    NaN
3068      209     1190           BRA  ...              CASTILHO      NaN    NaN

[3069 rows x 9 columns]